
  <div class="container-fluid menubar">
    <div class="row text-center menudisplay">
      <ul class="link-list">
          <li class="link-item"><a [routerLink]="['/']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" class="link">HOME</a></li>
          <li class="link-item"><a [routerLink]="['/details']" routerLinkActive="is-active"class="link">DETAILS</a></li>
          <li class="link-item"><a [routerLink]="['/registry']" routerLinkActive="is-active"class="link">REGISTRY</a></li>
          <li class="link-item"><a [routerLink]="['/rsvp']" routerLinkActive="is-active" class="link">RSVP</a></li>
      </ul>
    </div>
  </div>
