<div class="details text-center">
  <div class="mainbox">
    <div class="maintextbox animated zoomIn faster">
      <h1 class="maintext">Registry</h1>
      <h1 class="bodytext"><a href="https://www.crateandbarrel.com/gift-registry/emily-madrzak-and-daniel-byczynski/r6098686" target="_blank">Crate & Barrel</a></h1>
      <h1 class="bodytext"><a href="https://www.williams-sonoma.com/registry/89p77ff8zp/registry-list.html"  target="_blank">William Sonoma</a></h1>
    </div>
    <div class="registrybox"></div>
  </div>
</div>
