.home {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.mainbox {
  margin-left: 15px;
  margin-right: 15px;
}

.maintextbox {
  display: inline-block;
  border: 20px solid white;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 30px 30px 10px;
  background-color: rgba(255, 255, 255, .8);
}

.maintext {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 4vmax;
  color: black;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.bodytext {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
}

.addresstext {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
}

.datetext {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
}

.address-space {
  margin-top: 25px;
}

@media (min-width: 320px) and (max-width: 768) {
  .maintext {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2em;
    color: black;
    text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
  }
}
