<div class="home text-center">
  <div class="mainbox animated zoomIn faster">
    <div class="mainborder">
      <h1 class="maintext">EMILY JO & DANIEL BYCZYNSKI</h1>
    </div>

    <div class="maintextbox animated zoomInUp fast">
      <h1 class="bodytext">INVITE YOU TO THEIR WEDDING CELEBRATION</h1>
      <h1 class="addresstext address-space">June 27th, 2020</h1>
      <a href="https://www.google.com/maps/place/N116W13444+Elm+Ln,+Germantown,+WI+53022/@43.225385,-88.0783184,15.88z/data=!4m5!3m4!1s0x8804fc0ef68c6b41:0x97c281a8ae614d24!8m2!3d43.2289772!4d-88.076984" target="_blank" style="color: black">
        <h1 class="bodytext">N116 W13444 Elm Lane</h1>
        <h1 class="bodytext">Germantown, WI 53022</h1>
      </a>
    </div>
  </div>
</div>
