<div class="details text-center">
  <div class="mainbox">
    <div class="maintextbox animated zoomIn faster">
      <h1 class="maintext">WHO?</h1>
      <h1 class="bodytext">Emily Jo + Daniel Byczynski + Tons of friends and family!</h1>

      <h1 class="maintext">WHAT?</h1>
      <h1 class="bodytext">Food, drinks, games and dancing. Oh yeah, and a wedding!</h1>

      <h1 class="maintext">WHERE?</h1>
      <h1 class="bodytext">Chicken Nugget Farm</h1>
      <a href="https://www.google.com/maps/place/N116W13444+Elm+Ln,+Germantown,+WI+53022/@43.225385,-88.0783184,15.88z/data=!4m5!3m4!1s0x8804fc0ef68c6b41:0x97c281a8ae614d24!8m2!3d43.2289772!4d-88.076984" target="_blank">
        <h1 class="bodytext">N116 W13444 Elm Lane</h1>
        <h1 class="bodytext">Germantown, WI 53022</h1>
      </a>
      <h1 class="maintext">WHEN?</h1>
      <h1 class="bodytext">Saturday, August 29th 2020.</h1>
    </div>
  </div>
</div>
